<a href="https://colab.research.google.com/github/woraphonp-038-5/BSC_DPDM2025/blob/main/Midterm_663020038_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
Stations_in_the_model = pd.read_csv('/content/drive/MyDrive/BSC DPDM midterm 2025/Input - (Operation Daily rain from API_ 2025)/Stations in the model_HII.csv')
Stations_in_the_model.head()

   Node        Lat        Long
0  ACRU  15.788054  104.642235
1  BBHN   9.536913   98.579490
2  BBUA  17.372976  103.984436
3  BCNG  17.386840  103.290870
4  BDAR  14.587073  102.495190

# ข้อที่ 1

In [112]:
# สร้าง list ของ path โฟลเดอร์ที่เก็บไฟล์ข้อมูลรายเดือน (ก.ค. – ธ.ค. 2025)
folder_paths = [
    '/content/drive/MyDrive/BSC DPDM midterm 2025/Input - (Operation Daily rain from API_ 2025)/2025-07',
    '/content/drive/MyDrive/BSC DPDM midterm 2025/Input - (Operation Daily rain from API_ 2025)/2025-08',
    '/content/drive/MyDrive/BSC DPDM midterm 2025/Input - (Operation Daily rain from API_ 2025)/2025-09',
    '/content/drive/MyDrive/BSC DPDM midterm 2025/Input - (Operation Daily rain from API_ 2025)/2025-10',
    '/content/drive/MyDrive/BSC DPDM midterm 2025/Input - (Operation Daily rain from API_ 2025)/2025-11',
    '/content/drive/MyDrive/BSC DPDM midterm 2025/Input - (Operation Daily rain from API_ 2025)/2025-12'
]

# นำเข้าไลบรารีที่จำเป็น
import pandas as pd      # ใช้จัดการข้อมูลตาราง (DataFrame)
import glob              # ใช้ค้นหาไฟล์ตามรูปแบบชื่อ
import os                # ใช้จัดการ path ของไฟล์

# สร้าง list ว่างเพื่อเก็บ path ของไฟล์ CSV ทั้งหมด
files = []

# วนลูปทีละโฟลเดอร์ใน folder_paths
for path in folder_paths:
    # ค้นหาไฟล์ CSV ที่ชื่อขึ้นต้นด้วย HII_daily_rainfall_2025-*-*.csv
    # และนำ path ของไฟล์ทั้งหมดมาเก็บใน list files
    files += glob.glob(os.path.join(path, "HII_daily_rainfall_2025-*-*.csv"))

# อ่านไฟล์ CSV ทุกไฟล์ใน list files
# แล้วนำมารวม (concat) เป็น DataFrame เดียว
# ignore_index=True เพื่อรีเซต index ใหม่ทั้งหมด
df = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)

# แสดงขนาดของ DataFrame (จำนวนแถว, จำนวนคอลัมน์)
print(df.shape)

(176886, 6)

In [113]:
HII_daily_rainfall_2025 = df

## โครงสร้างข้อมูล

In [114]:
HII_daily_rainfall_2025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176886 entries, 0 to 176885
Data columns (total 6 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   rainfall_datetime       176886 non-null  object
 1   rainfall_datetime_calc  176886 non-null  object
 2   rainfall_value          176882 non-null  float64
 3   tele_station_id         173072 non-null  float64
 4   tele_station_oldcode    168021 non-null  object
 5   measure_datetime        176886 non-null  object
dtypes: float64(2), object(4)
memory usage: 8.1+ MB

In [115]:
HII_daily_rainfall_2025.shape

(176886, 6)

In [116]:
HII_daily_rainfall_2025.columns

Index(['rainfall_datetime', 'rainfall_datetime_calc', 'rainfall_value',
       'tele_station_id', 'tele_station_oldcode', 'measure_datetime'],
      dtype='object')

In [117]:
HII_daily_rainfall_2025.describe()

       rainfall_value  tele_station_id
count   176882.000000     1.730720e+05
mean         3.604778     2.808742e+05
std         11.090095     4.959466e+05
min          0.000000     1.000000e+00
25%          0.000000     3.830000e+02
50%          0.000000     6.870000e+02
75%          1.400000     4.792300e+05
max        574.800000     3.129891e+06

In [118]:
HII_daily_rainfall_2025.isnull().sum()

rainfall_datetime            0
rainfall_datetime_calc       0
rainfall_value               4
tele_station_id           3814
tele_station_oldcode      8865
measure_datetime             0
dtype: int64

In [119]:
HII_daily_rainfall_2025.head()

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime
0,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,886.0,STH002,2025-07-13
1,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,896.0,STH004,2025-07-13
2,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,432.0,KUAM,2025-07-13
3,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,13888.0,SWR021,2025-07-13
4,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.2,304.0,SMSU,2025-07-13

In [120]:
HII_daily_rainfall_2025.tail()

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime
176881,2025-12-06 00:00:00+07:00,2025-12-05T07:00:00+07:00,0.0,724.0,TPAE,2025-12-05
176882,2025-12-06 00:00:00+07:00,2025-12-05T07:00:00+07:00,0.2,492362.0,ATG142,2025-12-05
176883,2025-12-06 00:00:00+07:00,2025-12-05T07:00:00+07:00,0.2,1107582.0,TCP012,2025-12-05
176884,2025-12-06 00:00:00+07:00,2025-12-05T07:00:00+07:00,0.0,124.0,PVEE,2025-12-05
176885,2025-12-06 00:00:00+07:00,2025-12-05T07:00:00+07:00,3.8,179.0,WRRS,2025-12-05

## ความหมายแต่ละคอลัมน์

1. **rainfall_datetime** = วัน–เวลาที่ระบบสรุปข้อมูลฝน

2. **rainfall_datetime_calc** = วัน–เวลาที่ใช้คำนวณปริมาณฝนจริง

3. **rainfall_value** = ค่าปริมาณน้ำฝนที่วัดได้

4. **tele_station_id** = รหัสประจำสถานีโทรมาตร

5. **tele_station_oldcode** = รหัสสถานีแบบเดิม (Old Station Code)

6. **measure_datetime** = วันที่ที่วัดปริมาณฝนจริง

# ข้อที่ 2

In [53]:
Stations_in_the_model.head()

   Node        Lat        Long
0  ACRU  15.788054  104.642235
1  BBHN   9.536913   98.579490
2  BBUA  17.372976  103.984436
3  BCNG  17.386840  103.290870
4  BDAR  14.587073  102.495190

In [24]:
HII_daily_rainfall_2025.head()

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime
0,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,886.0,STH002,2025-07-13
1,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,896.0,STH004,2025-07-13
2,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,432.0,KUAM,2025-07-13
3,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,13888.0,SWR021,2025-07-13
4,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.2,304.0,SMSU,2025-07-13

In [121]:
# ดึงรหัสสถานี (Node) ที่ใช้ในโมเดลออกมา
# unique() ใช้เพื่อไม่ให้รหัสสถานีซ้ำกัน
stations_to_keep = Stations_in_the_model['Node'].unique()

# กรองข้อมูลฝนรายวันปี 2025
# เลือกเฉพาะแถวที่ tele_station_oldcode
# อยู่ในรายชื่อสถานีที่ใช้ในโมเดล
HII_daily_rainfall_2025_filtered = HII_daily_rainfall_2025[
    HII_daily_rainfall_2025['tele_station_oldcode'].isin(stations_to_keep)
].copy()

# แสดงขนาดข้อมูลก่อนกรอง (จำนวนแถว, จำนวนคอลัมน์)
print(f"Original HII_daily_rainfall_2025 shape: {HII_daily_rainfall_2025.shape}")

# แสดงขนาดข้อมูลหลังกรอง
print(f"Filtered HII_daily_rainfall_2025 shape: {HII_daily_rainfall_2025_filtered.shape}")

# แสดงข้อมูล 5 แถวแรกของ DataFrame หลังกรอง
HII_daily_rainfall_2025_filtered.head()

Original HII_daily_rainfall_2025 shape: (176886, 6)
Filtered HII_daily_rainfall_2025 shape: (66275, 6)

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime
1,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,896.0,STH004,2025-07-13
4,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.2,304.0,SMSU,2025-07-13
7,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,650.0,SWKL,2025-07-13
9,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,526.0,PYO001,2025-07-13
11,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,596.0,SKKG,2025-07-13

In [50]:
# ก่อนกรอง
HII_daily_rainfall_2025['tele_station_oldcode'].nunique()

1514

In [51]:
# หลังกรอง
HII_daily_rainfall_2025_filtered['tele_station_oldcode'].nunique()

384

# ข้อที่ 3

In [54]:
HII_daily_rainfall_2025_filtered.isnull().sum()

rainfall_datetime            0
rainfall_datetime_calc       0
rainfall_value               1
tele_station_id           1023
tele_station_oldcode         0
measure_datetime             0
dtype: int64

In [122]:
# สร้างสำเนาของข้อมูลที่กรองแล้ว เพื่อไม่ให้กระทบต้นฉบับ
df = HII_daily_rainfall_2025_filtered.copy()

# แปลงคอลัมน์ measure_datetime ให้เป็นชนิด datetime
df['measure_datetime'] = pd.to_datetime(df['measure_datetime'])

# สร้างช่วงวันที่ต่อเนื่อง ตั้งแต่วันแรกถึงวันสุดท้ายของข้อมูล
dates = pd.date_range(
    df['measure_datetime'].min(),
    df['measure_datetime'].max()
)

# สร้างตารางที่มี "สถานี × ทุกวัน" ครบทุกความเป็นไปได้
# MultiIndex.from_product = Cartesian product
full = pd.MultiIndex.from_product(
    [df['tele_station_oldcode'].unique(), dates],
    names=['tele_station_oldcode', 'measure_datetime']
).to_frame(index=False)

# นำตาราง full มาต่อ (merge) กับข้อมูลจริง
# ถ้าวันไหนไม่มีข้อมูล rainfall_value จะได้ค่า NaN
missing = (
    full.merge(
        df[['tele_station_oldcode', 'measure_datetime', 'rainfall_value']],
        how='left'
    )
    # สร้างคอลัมน์ missing เป็น True/False
    .assign(missing=lambda x: x['rainfall_value'].isna())
    # นับจำนวนวันที่ข้อมูลหายไป แยกตามสถานี
    .groupby('tele_station_oldcode')['missing']
    .agg(missing_count='sum')
)

# คำนวณจำนวนวันที่ควรมีทั้งหมด และสัดส่วนข้อมูลที่หายไป
result = (
    missing
    .assign(
        total_expected=len(dates),
        missing_proportion=lambda x: x['missing_count'] / len(dates)
    )
    # เรียงจากสถานีที่ข้อมูลหายมากที่สุด
    .sort_values('missing_proportion', ascending=False)
)

# แสดงผลลัพธ์สุดท้าย
result

                      missing_count  total_expected  missing_proportion
tele_station_oldcode
NPI002                          169             184            0.918478
WAN005                          148             184            0.804348
CHI010                          142             184            0.771739
CHNA                            138             184            0.750000
BPTG                            133             184            0.722826
...                             ...             ...                 ...
WTBT                              0             184            0.000000
WTLG                              0             184            0.000000
WTSG                              0             184            0.000000
WWST                              0             184            0.000000
YGHM                              0             184            0.000000

[384 rows x 3 columns]

# ข้อที่ 4

In [123]:
# ระบุรายชื่อสถานีที่ต้องตัดออก
# เงื่อนไข: สัดส่วนข้อมูลที่หายไป (missing_proportion) >= 20%
stations_to_remove = result[
    result['missing_proportion'] >= 0.20
].index.tolist()

# แสดงจำนวนและรายชื่อสถานีที่มีข้อมูลหายเกินเกณฑ์
print(f"Stations with >= 20% missing data records ({len(stations_to_remove)} stations):")
for station in stations_to_remove:
    print(f"- {station}")

# กรองข้อมูลฝนรายวัน
# เอาเฉพาะสถานีที่ "ไม่อยู่" ในรายชื่อที่ต้องตัดออก
HII_daily_rainfall_2025_cleaned = HII_daily_rainfall_2025_filtered[
    ~HII_daily_rainfall_2025_filtered['tele_station_oldcode'].isin(stations_to_remove)
].copy()

# นับจำนวนสถานีที่เหลืออยู่หลังการกรอง
remaining_stations_count = (
    HII_daily_rainfall_2025_cleaned['tele_station_oldcode']
    .nunique()
)

# แสดงสรุปผลการคัดกรอง
print(f"\nNumber of stations removed: {len(stations_to_remove)}")
print(f"Number of remaining stations after filtering: {remaining_stations_count}")

Stations with >= 20% missing data records (45 stations):
- NPI002
- WAN005
- CHI010
- CHNA
- BPTG
- BKK017
- PSLT
- YCUM
- PRN001
- PAS008
- TUKW
- BNGR
- NAPK
- BSKJ
- CHI013
- MEWG
- NASW
- NNPT
- CEHM
- DGSL
- BKHN
- YOM001
- DCCT
- BNLG
- MNRM
- PMPN
- BSPN
- CGKM
- SKM004
- NEAK
- CTKN
- NGPI
- SGKW
- SKE001
- TPI007
- VLGE33
- NKSG
- KON005
- CPY010
- BLKO
- NGCG
- LMSK
- MMMO
- KKTO
- SLA002

Number of stations removed: 45
Number of remaining stations after filtering: 339

In [78]:
HII_daily_rainfall_2025_cleaned.head()

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime
1,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,896.0,STH004,2025-07-13
4,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.2,304.0,SMSU,2025-07-13
7,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,650.0,SWKL,2025-07-13
9,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,526.0,PYO001,2025-07-13
11,2025-07-14 00:00:00+07:00,2025-07-14T07:00:00+07:00,0.0,596.0,SKKG,2025-07-13

# ข้อที่ 5

In [70]:
HII_daily_rainfall_2025_cleaned.isnull().sum()

rainfall_datetime           0
rainfall_datetime_calc      0
rainfall_value              0
tele_station_id           983
tele_station_oldcode        0
measure_datetime            0
dtype: int64

In [124]:
# สร้างสำเนาข้อมูลหลังผ่านการคัดสถานีแล้ว
df = HII_daily_rainfall_2025_cleaned.copy()

# แปลงคอลัมน์วันที่ให้เป็นชนิด datetime
df['measure_datetime'] = pd.to_datetime(df['measure_datetime'])

# สร้างตัวแปร day-of-year (1–365/366)
df['doy'] = df['measure_datetime'].dt.dayofyear


# คำนวณค่า median ของปริมาณฝน
# แยกตามสถานี และตามวันของปี (doy)
med = (
    df.groupby(['tele_station_oldcode', 'doy'])['rainfall_value']
      .median()
      .reset_index()
)


# สร้างช่วงวันที่ครบทุกวันตั้งแต่วันแรกถึงวันสุดท้าย
dates = pd.date_range(
    df['measure_datetime'].min(),
    df['measure_datetime'].max()
)

# สร้าง grid "สถานี × ทุกวัน"
full = pd.MultiIndex.from_product(
    [df['tele_station_oldcode'].unique(), dates],
    names=['tele_station_oldcode', 'measure_datetime']
).to_frame(index=False)

# เพิ่มตัวแปร day-of-year ให้กับ grid
full['doy'] = full['measure_datetime'].dt.dayofyear


# รวม grid กับข้อมูลจริง
# ถ้าวันไหนไม่มีข้อมูล rainfall_value จะเป็น NaN
df_imp = (
    full
    .merge(
        df[['tele_station_oldcode', 'measure_datetime', 'rainfall_value']],
        how='left'
    )
    # merge ค่า median รายสถานี–ราย doy
    .merge(
        med,
        on=['tele_station_oldcode', 'doy'],
        how='left',
        suffixes=('', '_median')
    )
)

# เติมค่า missing ของ rainfall_value
# ด้วยค่า median ของสถานีเดียวกันและวันเดียวกันของปี
df_imp['rainfall_value'] = (
    df_imp['rainfall_value']
    .fillna(df_imp['rainfall_value_median'])
)

# กำหนด DataFrame สุดท้ายหลัง imputation
HII_daily_rainfall_2025_median = df_imp

In [125]:
HII_daily_rainfall_2025_median.head()

,tele_station_oldcode,measure_datetime,doy,rainfall_value,rainfall_value_median
0,STH004,2025-07-01,182,2.0,2.0
1,STH004,2025-07-02,183,11.8,11.8
2,STH004,2025-07-03,184,0.0,0.0
3,STH004,2025-07-04,185,0.0,0.0
4,STH004,2025-07-05,186,0.0,0.0

In [126]:
HII_daily_rainfall_2025_dropcol = HII_daily_rainfall_2025_median.drop(columns=['doy','rainfall_value_median'])
HII_daily_rainfall_2025_dropcol.head()

  tele_station_oldcode measure_datetime  rainfall_value
0               STH004       2025-07-01             2.0
1               STH004       2025-07-02            11.8
2               STH004       2025-07-03             0.0
3               STH004       2025-07-04             0.0
4               STH004       2025-07-05             0.0

# ข้อที่ 6

ในการเตรียมข้อมูลปริมาณฝนก่อนนำไปวิเคราะห์หรือประยุกต์ใช้ในงาน Data Mining การจัดการกับข้อมูลที่ขาดหายถือเป็นขั้นตอนที่มีความสำคัญอย่างมาก โดยข้อมูลปริมาณฝนมีลักษณะเฉพาะที่แตกต่างจากข้อมูลเชิงปริมาณทั่วไป กล่าวคือ ในหลายช่วงเวลาปริมาณฝนมักมีค่าเป็นศูนย์หรือมีค่าต่ำ แต่ในบางวันอาจเกิดฝนตกหนักทำให้ค่าปริมาณฝนสูงมาก ส่งผลให้การกระจายของข้อมูลมีลักษณะแบบเบ้และมีค่าผิดปกติปรากฏอยู่เป็นจำนวนมาก ภายใต้ลักษณะข้อมูลเช่นนี้ การเลือกวิธีแทนค่าข้อมูลที่ขาดหายจึงต้องคำนึงถึงผลกระทบของค่าที่สูงผิดปกติเป็นหลัก

การใช้ค่ามัธยฐาน (Median) เป็นวิธีที่เหมาะสมในการแทนค่าข้อมูลที่ขาดหาย เนื่องจาก median เป็นค่าสถิติที่พิจารณาจากตำแหน่งกึ่งกลางของข้อมูล ไม่ได้รับอิทธิพลจากค่าที่สูงหรือต่ำผิดปกติเหมือนกับค่าเฉลี่ย (Mean) ดังนั้น แม้จะมีวันที่เกิดฝนตกหนักและให้ค่าปริมาณฝนสูงมาก ค่า median ก็ยังคงสะท้อนค่าปริมาณฝนปกติของข้อมูลส่วนใหญ่ได้ดีกว่า หากใช้ค่าเฉลี่ย ค่าที่ได้อาจสูงเกินความเป็นจริงและทำให้ค่าที่นำมาเติมไม่สอดคล้องกับพฤติกรรมจริงของปริมาณฝนในแต่ละวัน

นอกจากนี้ การใช้ค่า median ยังช่วยลดความบิดเบือนของโครงสร้างข้อมูลหลังการเติมค่า ทำให้การกระจายของข้อมูลไม่เปลี่ยนแปลงไปจากลักษณะเดิมมากนัก ซึ่งเป็นสิ่งสำคัญต่อการวิเคราะห์ข้อมูลในขั้นตอนถัดไป ไม่ว่าจะเป็นการวิเคราะห์เชิงสถิติ การหาความสัมพันธ์ของตัวแปร หรือการสร้างแบบจำลอง Data Mining หากข้อมูลถูกเติมด้วยค่าที่สูงหรือต่ำเกินจริง อาจส่งผลให้แบบจำลองเรียนรู้รูปแบบที่คลาดเคลื่อนและให้ผลลัพธ์ที่ไม่แม่นยำ

ดังนั้น การเลือกใช้ค่ามัธยฐาน (Median) ในการแทนค่าข้อมูลปริมาณฝนที่ขาดหายจึงเป็นวิธีที่เหมาะสม ช่วยให้ข้อมูลมีความสมเหตุสมผล ลดอิทธิพลของค่าผิดปกติ และคงลักษณะตามธรรมชาติของข้อมูลไว้ได้ ส่งผลให้ชุดข้อมูลมีคุณภาพสูงขึ้นและพร้อมสำหรับการนำไปวิเคราะห์หรือทำ Data Mining อย่างมีประสิทธิภาพ

# ข้อที่ 7

In [127]:
HII_daily_rainfall_2025_dropcol.head()

  tele_station_oldcode measure_datetime  rainfall_value
0               STH004       2025-07-01             2.0
1               STH004       2025-07-02            11.8
2               STH004       2025-07-03             0.0
3               STH004       2025-07-04             0.0
4               STH004       2025-07-05             0.0

In [128]:
# แปลงคอลัมน์ measure_datetime ให้เป็นชนิด datetime
HII_daily_rainfall_2025_dropcol['measure_datetime'] = pd.to_datetime(
    HII_daily_rainfall_2025_dropcol['measure_datetime']
)

# สร้างตัวแปรปี (year) จากวันที่
HII_daily_rainfall_2025_dropcol['year'] = (
    HII_daily_rainfall_2025_dropcol['measure_datetime'].dt.year
)

# สร้างตัวแปรเดือน (month) จากวันที่
HII_daily_rainfall_2025_dropcol['month'] = (
    HII_daily_rainfall_2025_dropcol['measure_datetime'].dt.month
)

# รวมปริมาณฝนรายเดือน แยกตามสถานี ปี และเดือน
# ใช้ sum เพราะฝนรายเดือนคือผลรวมของฝนรายวัน
monthly_rainfall = (
    HII_daily_rainfall_2025_dropcol
    .groupby(['tele_station_oldcode', 'month', 'year'])['rainfall_value']
    .sum()
    .reset_index()
)

# เปลี่ยนชื่อคอลัมน์ให้สอดคล้องกับรูปแบบข้อมูลที่ต้องการ
monthly_rainfall.rename(columns={
    'tele_station_oldcode': 'Node',   # รหัสสถานี
    'rainfall_value': 'rain'          # ปริมาณฝนรายเดือน
}, inplace=True)

# เลือกเฉพาะคอลัมน์ที่ต้องการใช้งาน
output_monthly_rainfall = monthly_rainfall[['Node', 'rain', 'month', 'year']]

# แสดงข้อมูลตัวอย่าง 5 แถวแรก
output_monthly_rainfall.head()

   Node   rain  month  year
0  ACRU   83.0      7  2025
1  ACRU  164.8      8  2025
2  ACRU  248.6      9  2025
3  ACRU   48.4     10  2025
4  ACRU   52.2     11  2025

# โหลดไฟล์ CSV

In [129]:
# บันทึกเป็นไฟล์ CSV
output_monthly_rainfall.to_csv(
    'output_monthly_rainfall.csv',
    index=False,
    encoding='utf-8-sig'
)

# ดาวน์โหลดลงเครื่อง
from google.colab import files
files.download('output_monthly_rainfall.csv')

# Link Google Drive

https://drive.google.com/drive/folders/1wtmPFHoB_EJ8yeelAwwxTGS3T1lRubiw?usp=sharing